html,
body{

    /* font-size: 1rem; */
    font-family: monospaces,sans-serif;
}
h1,h2,h3,h4,h5,h6,p,a{
    font-family: monospace,sans-serif;
}
.nav-link:hover{
    color: rgb(196, 62, 0) !important;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: black;
    color: aliceblue;
}
header h1,h3{
    font-family: 'Reem Kufi', sans-serif;
}
header h1{
    font-size: 4.5rem;
}
.profie{
    border-radius: 20px;
    width: 250px;
    height: 300px;
}
.about{
    
    
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(21,21,177,1) 43%, rgba(0,212,255,1) 94%);
}
.bottom-line{
    border-bottom: 2px solid aqua;
}
.blue{
    color: aqua;
}
.uploadproj{
    height: 30vh;
    
}
footer{
    height: 100vh;
    background-color: black;
    color: white;
}
footer .btn{
    background-color: aqua;
    color: white;
}